{% extends 'base.html' %}

{% block content %}
<form method="post">
  <div class="columns is-centered is-vcentered">
    <div class="column is-half">
      <section class="hero">
        <div class="hero-body">
          <div class="container">
            <div class="card">
              <div class="card-content">
                <div class="content">
                  <p class="title has-text-centered">
                    {% trans %}Register{% endtrans %}
                  </p>
                  <div class="field">
                    <label class="label">{% trans %}Login{% endtrans %}</label>
                    <div class="control has-icons-left">
                      <input class="input" type="text" name="login" placeholder="{% trans %}Login{% endtrans %}" required>
                      <span class="icon is-small is-left">
                        <i class="fas fa-user"></i>
                      </span>
                    </div>
                  </div>
                  <div class="field">
                    <label class="label">{% trans %}Password{% endtrans %}</label>
                    <div class="control has-icons-left">
                      <input class="input" type="password" name="password" placeholder="{% trans %}Password{% endtrans %}" required>
                      <span class="icon is-small is-left">
                        <i class="fas fa-lock"></i>
                      </span>
                    </div>
                  </div>
                  <div class="field">
                    <label class="label">{% trans %}Confirm Password{% endtrans %}</label>
                    <div class="control has-icons-left">
                      <input class="input" type="password" name="confirmed_password" placeholder="{% trans %}Password{% endtrans %}" required>
                      <span class="icon is-small is-left">
                        <i class="fas fa-lock"></i>
                      </span>
                    </div>
                  </div>
                  <div class="field">
                    <div class="control has-text-centered">
                      <button class="button is-info">
                        <span class="icon is-small">
                          <i class="fas fa-check"></i>
                        </span>
                        <span>{% trans %}Submit{% endtrans %}</span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
</form>
{% endblock %}